.title-intro{
    color: #03506F;
    font-size: 200%;
    font-weight: 800;
    margin-top:2%;
    text-align: center;
}
.little-topic{
    text-align: left;
}
.list-1{
    text-align: center;
    font-size: 150%;
    background-color: #03506F;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
}
.content{
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 130%;
    font-weight: 700;
    color:#03506F;
}
.Intro-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    width: 30%;
}
.Process-img{
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-left: 42.5%;
}
.list-mark{
    list-style-type: circle;
    text-align: left;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 150%;
    font-weight: 700;
    color:#03506F;
}
pre {
    margin-right: 5%;
    background-color: black;
}
code{
    background-color: black;
}
.content-img{
    text-align: center;
}

.result-img{
    width: 80%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}
