.title-intro{
    color: #03506F;
    font-size: 200%;
    font-weight: 800;
    margin-top:2%;
    text-align: center;
}
.little-topic{
    text-align: left;
}
.list-1{
    text-align: left;
    font-size: 180%;
    background-color: #03506F;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 20px;
}
.content{
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 700;
    color:#03506F;
}
.Intro-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    width: 30%;
}
